
{% extends 'base.html' %}
{% block style %}
    {# подставляем содержимое блока родительского шаблона #}
    {{ block.super }}
    {# добавляем уникальную css для данной страницы #}
    <link rel="stylesheet" href="new_style.css">
    <style>
        ol {
            width: 100%; /* Ширина таблицы */
            background: white; /* Цвет фона таблицы */
        } 

        li {
            background: white; /* Цвет фона ячеек */
            padding: 25px; /* Поля вокруг текста */
            color: blue;
            display: inline-block;
            border: 1px solid black;
            width: 20%;
            margin: 1px;
        }
    </style>
{% endblock %}

{% block content %}
    <table border = "1">
        <tbody>
            <ol>
                {% for item in items %}
                    <li> 
                        <h1> {{item.name}} {{item.brand}} </h1>
                        <h2> <a href='item/{{item.id}}'> Описание товара </a> </h2>
                    </li>
                {% endfor %}
            </ol>
    </table>
{% endblock %}



